body {
    background-color: black;
}

.container,
#result, #reset {
    font-family: 'Segoe UI', Tahoma, Genevas, Verdana, sasns-serif;
    color: chartreuse;
    margin-left: 480px;
}

.grid {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 55px 468px;
    width: max-content;
    padding: 25px;
    border: double chartreuse;
    border-radius: 5px;
}

.grid div {
    background-color: darkgrey;
    text-align: center;
    font: 4em sans-serif;
    width: 75px;
    height: 75px;
    padding: 7px;
    border-radius: 7px;
    border-color: chartreuse;
    border-style: solid;
}

#result, #reset {
    position: absolute;
    text-align: center;
    font-size: 25px;
    width: 310px;
    background-color: rgb(44, 41, 41);
    margin-top: 400px;
    border: 1px solid chartreuse;
    border-radius: 3px;
}

#reset {
    margin-top: 445px;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 135px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(32, 32, 32);
    padding-top: 20px;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
    clip-path: circle();
    border: rgb(179, 23, 114) 5px double;
}

.sidebar a{
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: chartreuse;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover, .active  {
    background-color: #555;
}

.minimize-btn {
    position: absolute;
    background-color: rgb(32, 32, 32);
    color: chartreuse;
    border: none;
    cursor: pointer;
    padding: 5px;
    top: 40px;
    left: 135px;
    font-size: 30px;
    border: 2.5px double chartreuse;
    border-radius: 3px;
}